/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 40px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 25px;
	background: rgba(52, 73, 94, .5);
}
.footer a { color: #bbb; }
.footer a:hover { color: #16a085; }

/* Custom page CSS
-------------------------------------------------- */

body {
	background: rgb(255, 239, 213);
    background: rgba(255, 239, 213, .5);
	background-image: url(/bg.png);
	background-repeat: repeat;
	padding-top: 75px;
}
@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
}
.navbar-brand {
	padding: 5px 40px 5px 0;
}
.navbar-brand > img {
	height: 43px;
}

a { cursor: pointer; }

#scholarsTable_length { margin-top: 5px; }
#scholarsTable_length > a { margin-left: 30px; }
#scholarsTable_info { display: none; }
#scholarsTable_paginate { display: none; }

.era0 td {
	background-color: rgba(0, 100, 0, .2);
}
.era1 td {
	background-color: rgba(127, 255, 0, .2);
}
.era2 td {
	background-color: rgba(102, 205, 170, .2);
}
.era3 td {
	background-color: rgba(0, 191, 255, .2);
}
.era4 td {
	background-color: rgba(160, 32, 240, .2);
}
.era5 td {
	background-color: rgba(255, 165, 0, .2);
}
.era6 td {
	background-color: rgba(255, 0, 0, .2);
}

.cred {
	color: red;
}
.cgrn {
	color: green;
}
.cblk {
	color: black;
}
.alignLeft {
	text-align: left;
}
.alignCent {
	text-align: center;
}

.search {
	color: white;
	background: white;
	position: relative;
	border-radius: 25px;
	width: 300px;
	height: 45px;
}
.search:before {
	position:absolute;
	top: 3px;
	left: 20px;
	color: black;
	font-family: FontAwesome;
	font-size: 18px;
	content: "\f002";
}
.search > input {
	position: absolute;
	top: 5px;
	right: 15px;
	width: 240px;
	color: black;
	border: none;
}
.search > input:focus {
    outline: 0;
}
