.era0 td {
	background-color: rgba(0, 100, 0, .2);
}
.era1 td {
	background-color: rgba(127, 255, 0, .2);
}
.era2 td {
	background-color: rgba(102, 205, 170, .2);
}
.era3 td {
	background-color: rgba(0, 191, 255, .2);
}
.era4 td {
	background-color: rgba(160, 32, 240, .2);
}
.era5 td {
	background-color: rgba(255, 0, 0, .2);
}
.era6 td {
	background-color: rgba(255, 165, 0, .2);
}
