<template name="scholarEdit">
	<form name="scholarEdit">
		<legend id="bioTitle">
			<input id="name" name="name" type="text" value="{{name}}" placeholder="Full name" title="123">
			<input id="slug" name="slug" type="text" value="{{slug}}" placeholder="Path slug">
			<a id="save">[Save]</a>
			<a id="cancel" href="{{#if slug}}/{{slug}}{{else}}/scholars{{/if}}">[Cancel]</a>
		</legend>
		<div id="bioInfo2">
			<div class="row">
				<p class="col-md-6">
					<strong>Born:</strong>
					<input id="born" name="born" type="text" value="{{born}}" placeholder="Hijri Year">
					<input id="bornLoc" name="bornLoc" type="text" value="{{bornLoc}}" placeholder="City">
					{{#if bornEst}}
					<input id="bornEst" name="bornEst" type="checkbox" checked> <small>(est)</small>
					{{else}}
					<input id="bornEst" name="bornEst" type="checkbox"> <small>(est)</small>
					{{/if}}
				</p>
				<p class="col-md-6">
					<strong>Died:</strong>
					<input id="died" name="died" type="text" value="{{died}}" placeholder="Hijri Year">
					<input id="diedLoc" name="diedLoc" type="text" value="{{diedLoc}}" placeholder="City">
					{{#if diedEst}}
					<input id="diedEst" name="diedEst" type="checkbox" checked> <small>(est)</small>
					{{else}}
					<input id="diedEst" name="diedEst" type="checkbox"> <small>(est)</small>
					{{/if}}
				</p>
			</div>
			<div class="alert alert-warning" role="alert" style="margin:0 10px 20px;padding:5px;"><b>Note: </b> Fields below this do not work yet...</div>
			<div class="row">
				<p class="col-md-6">
					<strong>Parents:</strong>
					<input id="father" name="father" type="text" value="{{father}}" placeholder="Father">
					<input id="mother" name="mother" type="text" value="{{mother}}" placeholder="Mother">
				</p>
				<p class="col-md-6">
					<strong>Unlisted:</strong>
					<input id="unlisted" name="unlisted" type="checkbox"> <small>[Do not display on scholars list page]</small>
				</p>
			</div>
			<div class="row">
				<p class="col-md-12">
					<strong>Teachers:</strong>
					<textarea id="teachers" name="teachers" placeholder="Teacher names (must exist in scholars list).."></textarea>
				</p>
			</div>
			<div class="row">
				<p class="col-md-12">
					<strong>Places:</strong>
					<textarea id="places" name="places" placeholder="Places the person lived, in order if known.."></textarea>
				</p>
			</div>
			<div class="row">
				<p class="col-md-12">
					<strong>Tags:</strong>
					<textarea id="tags" name="tags" placeholder="Tags.."></textarea>
				</p>
			</div>
		</div>
		<div id="bioArea2">
			<textarea id="bioText" name="bioText" placeholder="Biography using markdown..">{{bio}}</textarea>
		</div>
	</form>
</template>