#bioTitle {
	border-bottom: 1px solid #666;
}
#bioTitle > a {
	float: right;
	font-size: .6em;
	margin: 10px;
}
#bioTitle > input {
	border-radius: 5px;
	background: rgba(0, 0, 0, .1);
}
#bioTitle > input#name {
	width: 45%;
}
#bioTitle > input#slug {
	width: 25%;
}

#bioInfo {
	min-height: 150px;
	background: rgba(22, 160, 133, .1);
	border: 1px dashed #999;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 15px;
}

#bioArea {}
#bioArea h1 {
	font-size: 2.5em;
	border-bottom: 1px solid #aaa;
}
#bioArea h2 {
	font-size: 2em;
}
#bioArea h3 {
	font-size: 1.5em;
}
#bioArea h4 {
	font-size: 1.4em;
}
#bioArea h5 {
	font-size: 1.3em;
}
#bioArea h6 {
	font-size: 1.2em;
}
#bioArea p {
	font-size: 1em;
}


#toc {
	margin: 0
}

.tocify .active {
	background: rgba(22, 160, 133, .1);	
}