#bioTitle {
	border-bottom: 1px solid #666;
}
#bioTitle > a {
	float: right;
	font-size: .6em;
	margin: 10px;
}
#bioTitle > input {
	border-radius: 5px;
	background: rgba(0, 0, 0, .1);
}
#bioTitle > input#name {
	width: 45%;
}
#bioTitle > input#slug {
	width: 25%;
}

#bioInfo {
	float: right;
	width: 50%;
	min-height: 150px;
	background: rgba(22, 160, 133, .1);
	border: 1px dashed #999;
	border-radius: 10px;
	padding: 5px;
}

#bioArea {}
